@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-1vw, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(1vw, 0, 0); } }
@-moz-keyframes shake {
  0%, 100% {
    -moz-transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translate3d(-1vw, 0, 0); }
  20%, 40%, 60%, 80% {
    -moz-transform: translate3d(1vw, 0, 0); } }
@-o-keyframes shake {
  0%, 100% {
    -o-transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -o-transform: translate3d(-1vw, 0, 0); }
  20%, 40%, 60%, 80% {
    -o-transform: translate3d(1vw, 0, 0); } }
@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-1vw, 0, 0); }
  20%, 40%, 60%, 80% {
    transform: translate3d(1vw, 0, 0); } }

.shake {
  -webkit-animation: shake 3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-animation: shake 3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-animation: shake 3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: shake 3s cubic-bezier(0.445, 0.05, 0.55, 0.95); }

  @keyframes shake-repeat {
    0%, 20% {
      transform: translate3d(0, 0, 0); }
    2% {
      transform: translate3d(-0.5vw, 0, 0); }
    4% {
      transform: translate3d(0.5vw, 0, 0); }
    6% {
      transform: translate3d(-0.4vw, 0, 0); }
    8% {
      transform: translate3d(0.4vw, 0, 0); }
    10% {
      transform: translate3d(-0.5vw, 0, 0); }
    12% {
      transform: translate3d(0.5vw, 0, 0); }
    14% {
      transform: translate3d(-0.3vw, 0, 0); }
    16% {
      transform: translate3d(0.3vw, 0, 0); }
    18% {
      transform: translate3d(-0.4vw, 0, 0); }
    20%, 100% {
      transform: translate3d(0, 0, 0); }
  }
  
  .shake-repeat {
    -webkit-animation: shake-repeat 5s infinite ease-in-out;
    -moz-animation: shake-repeat 5s infinite ease-in-out;
    -o-animation: shake-repeat 5s infinite ease-in-out;
    animation: shake-repeat 5s infinite ease-in-out;
  }
