<footer class="bg-gray-700 text-white pb-[10vh] mb-2 lg:py-4">
  <div class="container text-center lg:text-right">
    <div class="gap-4">
      <p class="text-xs lg:text-sm">Desarrollado por <span class="font-bold text-blue-500">SalazarWeb</span> <br>
        con <span class="font-bold text-blue-500">Astro</span> y <span class="font-bold text-blue-500">Tailwind</span> en <span class="font-bold text-blue-500">VS Code</span>, <br>
        desplegado con <span class="font-bold text-blue-500">Vercel</span>.
      </p>
    </div>
  </div>
</footer>