<footer class="bg-gray-700 text-white pt-4 pb-4 lg:pb-4 pb-24">
  <div class="container text-right">
    <div class="gap-4">
      <p class="text-xs">Desarrollado por <span class="font-bold text-blue-500">SalazarWeb</span> <br>
        con <span class="font-bold text-blue-500">Astro</span> y <span class="font-bold text-blue-500">Tailwind</span> en <span class="font-bold text-blue-500">VS Code</span>, <br>
        desplegado con <span class="font-bold text-blue-500">Vercel</span>.
      </p>
    </div>
  </div>
</footer>