<footer class="bg-gray-700 text-white pb-[5vh] mb-2 lg:py-4">
  <div class="container text-center items-center lg:text-right flex justify-center lg:justify-end min-h-full">
    <div class="flex justify-center lg:justify-end gap-4">
      <p class="text-xs lg:text-sm">Developed by <span class="font-bold text-blue-500">SalazarWeb</span> <br>
        with <span class="font-bold text-blue-500">Astro</span> & <span class="font-bold text-blue-500">Tailwind</span> in <span class="font-bold text-blue-500">VS Code</span>, <br>
        deployed with<span class="font-bold text-blue-500">Vercel</span>.
      </p>
    </div>
  </div>
</footer>